# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.so
*.egg-info/
.pytest_cache/
.mypy_cache/

# Virtual Environment
venv/
.env

# =========================
# FastAPI
# =========================
*.db

# =========================
# Node / Next.js
# =========================
node_modules/
.next/
out/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# Docker
# =========================
docker-data/

# =========================
# Environment Files
# =========================
*.env

# =========================
# Misc
# =========================
coverage/
dist/
build/
